name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build and Test with Maven
        env:
          DB_URL: ${{ secrets.DB_URL }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
        run: |
          mvn clean install --no-transfer-progress || exit 1
        continue-on-error: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Pull existing Docker image
        run: |
          docker pull abhishek94733/tiameds-labs:latest || true  # Pull the latest image (no error if it doesn't exist)

      - name: Update image data
        run: |
          # Perform your data update tasks here, e.g., copy new data to the image
          # For example, you can copy updated files into the Docker container
          docker run --name temp-container abhishek94733/tiameds-labs:latest
          docker cp ./new_data temp-container:/path/to/update
          docker commit temp-container abhishek94733/tiameds-labs:latest
          docker rm temp-container

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push updated Docker image
        run: |
          docker push abhishek94733/tiameds-labs:latest

